body,
html {
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

@font-face {
  font-family: 'Reg';
  src: url('../fonts/FoundersGroteskWeb-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/FoundersGroteskWeb-Regular.woff') format('woff'), /* Pretty Modern Browsers */
      
}
@font-face {
  font-family: 'Light';
  src: url('../fonts/FoundersGroteskWeb-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/FoundersGroteskWeb-Light.woff') format('woff'), /* Pretty Modern Browsers */
      
}
h2,
h3,
h4 {

    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #b2b2b2;
}

h2 {
    font-size: 28px;
    justify-content: center;
    display: flex;
    padding-bottom: 30px;
    border-bottom: 2px solid #eee;
}

h3 {
    font-size: 18px;
    color: #b2b2b2;
}

input:focus,
textarea:focus {
    outline: none;
}

input, textarea{
    font-family: 'Roboto', sans-serif;     
}
 input {
    border: none;
    border-bottom: 2px solid #ddd;
    border-radius: none;
 }

 input[type="submit"] {
    border: 2px solid #ddd;
 }

p {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #1a1a1a;
    text-align: center;
}

a {
    color: #777;
}

a:hover {
    color: #b2b2b2;
    transition: ease .3s;
}

.container-fluid {
  
    width: 100%;
    padding: 0 40px;
}

.about-container {
    padding-top: 60px;
}

.contact-container {
    padding-bottom: 80px;
}

.full-image {
    height: 100vh;
    width: 100%;
    background-color: red;
}

.square {
    padding-top: 100%;
    display: block;
    margin: 0 auto;
    background-size: cover;
    background-position: 50% 50%;
    
}

.square:hover {

    transition: ease .5s;
    opacity: 0.5;
}

.text-overlay {
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #000;
    display: none;
}

.text {
    position: absolute;
    z-index: 100;
    left: 25%;
    top: 50%;
    transform: translate(-25%, -50%);
}


.image-link {
    display: block;
    width: 25%;
    height: auto;
    position: relative;
    margin: 10px;
    background: #000;
}

.image-link .text{
opacity: 0;
color: #fff;
font-size: 24px;
text-align: center;
position: absolute;
top: 50%;
left: 50%;
 transform: translate(-50%, -50%);
}

.image-link:hover .text {
    opacity: 1;
    transition: .5s;
    
}
.grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.portfolio-section,
.portfolio-container {
    padding-top: 30px;
    padding-bottom: 40px;
}

.indiv-container {
    padding: 40px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-height: 768px) {
    .indiv-container {
        padding: 40px 0;
        position: static;
        top: 50%;
        left: 50%;
        transform: translate(0%, 0%);
    }
}

.portfolio-section p,
.portfolio-section h3 {
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.vimeo-link {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

header {
    
    display: flex;
    align-items: flex-end;
    position: absolute;
    z-index: 1000;
    width: 100%;
    padding: 40px;
    margin: 0 auto;
}
.swiper-pagination-bullet-active{
background: #666;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.list li {
    display: flex;
}

.list li p {
    margin: 0;
}

.list li span {
    margin-right: 10px;
}

.logo {
    padding: 0px;
    margin: 0;
    color: #b2b2b2;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
  
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    
}

.web-links {
    padding: 10px 10px 5px 10px;
    margin: 0;
    border: 3px solid #b2b2b2;
    color: #b2b2b2;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.5px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    display: block;
    width: 200px;
    margin-top: 30px;
}

.web-links:hover {
    transition: .5s ease;
    border: 3px solid #b2b2b2;
    color: #f2f2f2;
    background-color: #b2b2b2;
    text-transform: uppercase;
    text-decoration: none;
}

.main-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    position: absolute;
    right: 40px;
    
}

.sub-titles {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px 0;
    margin: 0;
}

.main-nav li a {
    margin-right: 20px;
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #b2b2b2;
   
    
}

.main-nav li a:hover {
    transition: ease .3s;
    color: #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
    
    text-decoration: none;
}

.video-wrapper {
    margin: 0 auto;
    max-width: 1000px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;

    height: 0;
    overflow: hidden;
    margin-bottom: 1em;
    margin-top: 1em;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.contact {

    position: relative;

    margin: 0;
}

form {
width: 100%;
    padding: 2em;
    padding-bottom: 0;
    margin-top: 1em;
    max-width: 600px;
    margin: 0 auto;
}

textarea {
    margin-top: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    font-size: 16px;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: .5em;
    width: 100%;
    background-color: transparent;
}

textarea {
    border: 2px solid #ddd;

}
label {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
    color: #bbb;
    text-transform: uppercase;
    font-size: 14px;
}

input[type="submit"] {

    background: transparent;
    outline: none;
    padding: 6px 10px 3px 10px;
    border-radius: 0;
    margin-top: 20px;
    border: none;
    color: white;
    float: right;
    border: 3px solid #b2b2b2;
    color: #b2b2b2;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.5px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

input[type="submit"]:hover {
    background: #b2b2b2;
    color: #f2f2f2;
    transition: ease .3s;
    cursor: pointer;
}

input[value="Send"] {
    text-transform: uppercase;
}

.name-bar {
    margin-right: 40px;
}

.form-inputs {
    display: flex;
    width: 100%;
}

.form-inputs .form-bar {
    width: 50%;
}
.form-bar {
    display: flex;
    flex-direction: column;
}

.contact-form {
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.contact-container {
    margin-bottom: 60px;
}

.hover-state a {
    display: block;
}


.hover-state {
    position: relative;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #739cae;
    border-radius: 100px;
}

.hover-state:hover .overlay {
    opacity: 1;
}

.text {
    color: #fff;
    font-family: 'Avenir-next', sans-serif;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.text p{
       color: #fff;
       font-family: "Roboto", sans-serif;
}

.milk-drop {
    position: relative;
}

.disclaimer {
  font-size: 14px;
  color: #b2b2b2;
  padding-top: 30px;
}



img {
    max-width: 100%;
    max-height: 100%;
}

.next {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    padding-top: 40px;
}

.next:hover {
    color: #b2b2b2;
    text-decoration: none;
    transition: ease .3s;
}

.next img {
    width: 50px;
    height: 16px;
}


.blurb h2,
.blurb p {
    text-align: left;
    justify-content: flex-start;
}

.blurb h2 {
  margin-top: 0;
  padding-bottom: 10px;
}

.indiv-text{
  padding-top: 10px;
  
}

.indiv-header {
    max-width: 1150px;
    padding: 0 45px;
}


.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
   
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#homeSwiper .swiper-slide {
    background-size: cover;
    background-position: 50% 50%;
}

@media only screen and (max-width: 991px) {
    header {

        padding: 40px 30px;
    }

    .container,
    .container-fluid {
        padding: 0 30px;
    }
    .image-link {
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
    }
    .indiv-container {
        padding: 40px 0;
        position: static;
       
        transform: translate(0%, 0%);
    }
       .indiv-container .swiper-container{
        padding-top: 80px;
   padding-bottom: 60px;
    }
  .indiv-container .swiper-pagination{
        padding-bottom: 10px;
   
    }

}

@media only screen and (max-width: 768px) {
    header {
        width: 100%;
        flex-direction: column;
     
        margin-top: 40px;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
    }

    .main-nav,
    .logo {
        position: static;
    }

    .main-nav {
        margin-top: 20px;
    }
    .main-nav li a {
        margin-right: 5px;
        margin-left: 5px;
    }

    .image-link {
        margin-bottom: 20px;
        width: 350px;
    }

    .form-inputs {
    display: flex;
    flex-direction: column;
}
form {
max-width: 100%;
width:100%;
}
.name-bar{
    margin: 0;
}
.form-inputs .form-bar {
    width: 100%;
}
}

.full-cover {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  background-position: 50% 50%; }
  @media only screen and (max-width: 768px) {
    .full-cover {
      height: 100%; } }
  @media only screen and (min-height: 1366px) {
    .full-cover {
      height: 100%; } }

      .home-bg video {
  display: block; }
